body {
 height:100vh;
 
}
 body h1 {
   text-align: center;
   margin: 30px auto;
 }
body .darkmode-btn {
  padding: 5px;
  background-color: white;
  top: 30px;
  right: 50px;
  width: 80px;
  border: 1px solid black;
  border-radius: 10px;
}

body .list {
  width: 500px;
  margin: 30px auto;
}

body .list .list-item {
  background-color: white;
  margin: 10px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}
.App {
  text-align: center;
}



.dark-mode {
  color: #fff;
  background-color: #313843;
}

.dark-mode .darkmode-btn {
  background-color:  #313843;
}

.dark-mode .list .list-item {
  background-color: #292929;
}
 